<!DOCTYPE html>
<html>
  <head>
    <title>GIA - Arduino | Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/dashboard.css">
  </head>
  <body>
    <h1>Dashboard</h1>
    <table id="table">
      <tr>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </table>
  </body>
  <script src="/js/dashboard.js" charset="utf-8"></script>
</html>
