<!DOCTYPE html>
<html>
  <head>
    <title>GIA - Arduino | Folder</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/folder.js" charset="utf-8"></script>
  </head>
  <body>
    <h1 id="title"></h1>
  </body>
</html>
